---
layout: default
---

  <header class="gds-principles">
    <h1>Government Digital Service
      <strong>
        <span style="color:#B10E1E">X</span><span style="color:#006435">m</span><span style="color:#B10E1E">a</span><span style="color:#006435">s</span><span>&nbsp;</span><span style="color:#B10E1E">P</span><span style="color:#006435">r</span><span style="color:#B10E1E">i</span><span style="color:#006435">n</span><span style="color:#B10E1E">c</span><span style="color:#006435">i</span><span style="color:#B10E1E">p</span><span style="color:#006435">l</span><span style="color:#B10E1E">e</span><span style="color:#006435">s</span>
      </strong>
    </h1>
    <p>Are your christmas needs not being met? Is your turkey not agile enough? Well, listed below are our christmas principles and examples of how we’ve used them so far. They are entirely open source, free to use, for the public good.<br />
    <span style="font-size:12px;color:#ccc">(Created, produced and owned by Cap Gemini. &copy; Copyright 2015. All rights reserved)</span></p>
  </header>

  {% include nav.html %}

  <ol class="principles">

      {% include principle_1.html %}
      {% include principle_2.html %}
      {% include principle_3.html %}
      {% include principle_4.html %}
      {% include principle_5.html %}
      {% include principle_6.html %}
      {% include principle_7.html %}
      {% include principle_8.html %}
      {% include principle_9.html %}
      {% include principle_10.html %}

  </ol><!-- .principles -->
  
  <div class="panel-indent" style="margin-bottom:60px;">If you like the Xmas Principles you can <a href="poster.html">download the poster</a>.</div>
