<nav>
  <ol>
    <li> <a href="#first"><span class="icon">1</span> <span class="caption">Start with sherry*</span></a> </li>
    <li> <a href="#second"><span class="icon">2</span> <span class="caption">Eat more</span></a> </li>
    <li> <a href="#third"><span class="icon">3</span> <span class="caption">Make things festive: it makes them better</span></a> </li>
    <li> <a href="#fourth"><span class="icon">4</span> <span class="caption">Do the hard work to make it seasonal</span></a> </li>
    <li> <a href="#fifth"><span class="icon">5</span> <span class="caption">The strategy is revelry</span></a> </li>
    <li> <a href="#sixth"><span class="icon">6</span> <span class="caption">The unit of delivery is the sleigh</span></a> </li>
    <li> <a href="#seventh"><span class="icon">7</span> <span class="caption">Decoration is a team sport</span></a> </li>
    <li> <a href="#eighth"><span class="icon">8</span> <span class="caption">Baste, and then baste again</span></a> </li>
    <li> <a href="#ninth"><span class="icon">9</span> <span class="caption">Be consistent wearing a santa uniform</span></a> </li>
    <li> <a href="#tenth"><span class="icon">10</span> <span class="caption">Mince pies so good people prefer to eat them</span></a> </li>
  </ol>
</nav>