<li class="principle">
  <article>      
    <hgroup>
      <h1 id="third">Make things festive: it makes them better</h1>
    </hgroup>
    <div class="outline">
      <p>We should decorate whenever we can. With family, with colleagues, with the world. Share tinsel, share fairy-lights, share baubles, share spray snow, share candy canes.</p>
      <p>The more eyes there are on your decorations the better it gets &mdash; paper-chains are spotted, striped or just plain. Tasteful alternatives are ignored. The bar is visited regularly.</p>
      <p>Much of what we&rsquo;re doing is only possible because of magic and sparkles. We should decorate!</p> 
      <ul>
        <li><a href="about.html">Tinsel, bauble, and candy cane expertise</a>, by Mike Bracken</li>
        <li><a href="about.html">How sharing helps us improve table decorations</a>, by Mike Bracken</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->