<li class="principle">
  <article>      
    <hgroup>
      <h1 id="fourth">Mince pies so good people prefer to eat them</h1>
    </hgroup>
    <div class="outline">
      <p>People do all sorts of things with mincepies. Throw them, catch them, roll them, chase them, but why don't they eat them? We think we've found the answer. Lack of dinosaur filling. Our suggestion? <a href="about.html">Minced Velociraptor Pies</a>. Test them with actual users and we think you'll find their refinement means you'll get great feedback.</p>
      <p>Also, watch where you put them down! Are they on a phone? A tablet? In a library? On Facebook? That's all wrong. A nice plate is what you need, to catch the crumbs.
      <ul>
        <li><a href="about.html">Baking for inclusion</a>, by L&eacute;onie Watson</li>
        <li><a href="about.html">Combining pastry and mince-meat to improve the user experience</a>, by Lana Gibson and Charlotte Clancy</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->