<li class="principle">
  <article>
    <hgroup>
      <h1 id="tenth">Do the hard work to make it seasonal</h1>
    </hgroup>
    <div class="outline">
      <p>Making something look seasonal is easy. Making something really seasonal is much harder &mdash; especially when you're lying under a tree trying to negotiate a complex system of power cables &mdash; but that&rsquo;s what we should be doing. Don&rsquo;t take &ldquo;It&rsquo;s always been that way&rdquo; for an answer, get out to the shops and buy something new EVERY YEAR!! It always takes more money to make things seasonal, but it&rsquo;s the right thing to do.</p>
      <ul>
        <li><a href="about.html">How christmas spending props up the economy</a>, by Mike Bracken</li>
        <li><a href="about.html">I told the kids we couldn't afford any more tinsel but the kids won</a>, by Pete Herlihy</li>
        <li><a href="about.html">This is what I mean when I say &ldquo;gratuitous lightshow!&rdquo;</a>, by Mike Bracken</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->
