<li class="principle">
  <article>      
    <hgroup>
      <h1 id="eighth">Baste, and then baste again</h1>
    </hgroup>
    <div class="outline">
      <p>Don&rsquo;t just outsource the cooking of your turkey to some corporate oven and expect to return hours later and have the thing magically turn out the way you want it. Get in there, see how it&rsquo;s doing, get some feedback, and baste the damn thing! Basting reduces risk, but if basting isn&rsquo;t working don&rsquo;t be afraid to scrape it and start again.</p>
      <p>Remember you&rsquo;re cooking for the entire country (it sometimes seems) and not just the ones who like turkey. </p>
      <p></p> 
      <ul>
        <li><a href="about.html">Pigs in leadership blankets</a>, by Saint Collingwood-Nicholas</li>
        <li><a href="about.html">Crispening the hidden side of the roasties</a>, by Mike Bracken</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->