<li class="principle">
  <article>      
    <hgroup>
      <h1 id="ninth">Be consistent wearing a santa uniform</h1>
    </hgroup>
    <div class="outline">
      <p>Every Santa should wear the same outfit in the same colours wherever possible. This helps children get familiar with him and not question his existence. When this isn&rsquo;t possible you should not wear a straitjacket, that'll scare them. Every child is different but none of them will like that.</p>
      <p>Find presents and share them, but don&rsquo;t talk about why you gave them. And another thing, you shouldn&rsquo;t stop people from exchanging them in the future when they find better presents or their needs change.</p> 
      <ul>
        <li><a href="about.html">The Santa Suit Sewing Patterns Hackpad</a></li>
        <li><a href="about.html">Why Santa always wore thick rimmed glasses at GDS</a>, by Ben Terrett</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->
