<li class="principle">
  <article>      
    <hgroup>
      <h1 id="first">Start with sherry*</h1>
      <h2 style="margin-bottom:10px">*your own sherry, not government sherry**</h2>
      <h3 style="font-size:14px;color:#df3034">**it tastes awful</h3>
    </hgroup>
    <div class="outline">
      <p>Sherry makes a lovely aperitif and can really whet the appetite after dealing with over-excited kids and attempting to defrost a frozen turkey with a hair dryer all morning. Sit back relax and have a few of these on an empty stomach whilst you wait for dinner to cook.</p>
      <ul>
        <li><a href="about.html">What I mean when I say &ldquo;a nice dry sherry&rdquo;</a>, by Mike Bracken</li>
        <li><a href="about.html">Most of christmas is mostly drinking sherry most of the time</a>, by Matt Edgar</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->