<li class="principle">
  <article>      
    <hgroup>
      <h1 id="sixth">The unit of delivery is the sleigh</h1>
    </hgroup>
    <div class="outline">
      <p>It&rsquo;s very important to remember that whilst it&rsquo;s Santa who brings us presents, he doesn&rsquo;t do it on foot. He has a sleigh. This simple fact is too often forgotten in these times of confusing ambiguities and mixed messages &hellip; blah, blah &hellip; social media &hellip; blah &hellip; 24 hour news. The people who really need to know this are often the very ones who are hardest to convince (children, the infirm). Let&rsquo;s make sure this year amid the chaotic hubbub of christmas that the facts of the matter are not forgotten.</p> 
      <ul>
        <li><a href="about.html">What are we doing about all this?</a> by Joshua Marshall</li>
        <li><a href="about.html">Here&rsquo;s what I mean by &ldquo;pulled by magical reindeer&rdquo;</a>, by Mike Bracken</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->