<li class="principle">
  <article>      
    <hgroup>
      <h1 id="fifth">The strategy is revelry</h1>
    </hgroup>
    <div class="outline">
      <p>A long winded planning process is wasted at christmas.</p>
      <blockquote style="font-style:italic;padding:15px 15px 0">&quot;The best laid schemes o' mice an' men. Gang aft agley&quot;</blockquote>
      <p>&hellip; is an <strong style="font-weight:700">insight</strong> we got from one increasingly inebriated <strong style="font-weight:700">user</strong> who stumbled out of a pub at something like 3pm!</p>
      <p>But she was right (to be drunk, not about the plans) at christmas time it's vital to drink early and drink often. Choices needs to be changed on the hoof. If they run out of Cointreau switch to Harvey&rsquo;s Bristol Cream, when that&rsquo;s gone go to mulled wine. Just don&rsquo;t, whatever you do, stop!</p> 
      <ul>
        <li><a href="about.html">6 case studies proving research and data don't improve a night out</a>, by Ben Holliday</li>
        <li><a href="about.html">&ldquo;Exemplars&rdquo; making fools of themselves</a>, by Mike Bracken</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->