<li class="principle">
  <article>
    <hgroup>
      <h1 id="second">Eat more</h1>
    </hgroup>
    <div class="outline">
      <p>Many say &ldquo;people should only eat what people can eat&rdquo;, but around the yuletide period this is clearly rubbish. More than ever, at this time of yeah it&rsquo;s important to really try and cram in as much as possible. You can concentrate one your irreducible core in the New Year. Tis the season to binge!</p>
      <ul>
        <li><a href="about.html">Carrots, peas and yes, sprouts from the ground up</a>, by Mike Bracken</li>
        <li><a href="about.html">What we've learned about scaling yorkshire puddings</a>, by Jamie Arnold</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->
