<li class="principle">
  <article>      
    <hgroup>
      <h1 id="seventh">Decoration is a team sport</h1>
    </hgroup>
    <div class="outline">
      <p>You know what we&rsquo;re talking about here. There&rsquo;s always one. One grumpy soul who's &ldquo;too tired&rdquo; or &ldquo;can&rsquo;t be bothered&rdquo; to climb that ladder and hang that mistletoe. Well through scrupulous ethnographic research and hypothesis driven investigation we&rsquo;ve determined empiricaly that these people are pure evil. Call them Grinch, or Scrooge or simply call them Aunty Flo, they need to be hounded and hassled until they see the error of their ways. Christmas is not optional, it&rsquo;s POLICY!</p> 
      <ul>
        <li><a href="about.html">How we treated people with low/no knowledge of christmas on Carer's Allowance</a> by Simon Hurst</li>
        <li><a href="about.html">The right place to do ritual christmasification</a>, by Emily Ball</li>
      </ul>
    </div>
  </article>
</li><!-- .principle-->